.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline-block;
}
i.material-icons {
    font-size: 63px;
    position: relative;
    top: 12px;
}

#map{
height: 400px;
width: 100%;
}
